.article {
  font-family: "Lustria", serif;
  font-size: 1.2rem;

  h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-family: "Imperial Script", cursive;
  }

  h3 {
    font-size: 1.6rem;
    font-family: "Parisienne", cursive;
    margin-bottom: 5rem;
  }

  h3 + p {
    margin-top: 2rem;
  }

  h3 + p::first-letter {
    font-family: "Parisienne", cursive;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.2rem;
  }
}

.audioContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 24px;
  opacity: 0.8;
}
